NODE_ENV=production
PORT=3200

DB_PATH=/opt/fb-cm-factory/data/backend-db/fb-cm-factory.db
STORAGE_ROOT=/opt/fb-cm-factory/data/backend-storage

MANAGER_V1_BASE_URL=http://localhost:3000
MANAGER_V1_API_KEY=
